@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Sarabun:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Poppins:wght@300&display=swap");

body {
  background-color: #b1f2ec;
  padding-top: 100px;
}

::placeholder {
  color: black;
}

input[type="text"] {
  font-family: poppins;
  margin-top: 20px;
  width: 200px;
  height: 40px;
  text-align: center;
  color: black;
  border-radius: 50px;
  border: none;
}

input[type="number"] {
  font-family: poppins;
  margin-top: 20px;
  border-radius: 50px;
  text-align: center;
  width: 200px;
  border: none;

  height: 40px;
}

input[type="submit"] {
  font-family: poppins;
  margin-top: 20px;
  border-radius: 50px;

  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  width: 100px;
  height: 40px;
  border: none;
  display: inline-block;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

input[type="submit"]:hover {
  background: #f6f9fe;
  color: #174ea6;
}

input[type="submit"]:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

input[type="submit"]:focus {
  outline: none;
  border: 2px solid #4285f4;
}

input[type="submit"]:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

input[type="submit"]:disabled:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
    rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

input[type="submit"]:disabled:focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

input[type="submit"]:disabled:active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
    rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

input[type="submit"]:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

select {
  font-family: poppins;
  margin-top: 20px;
  border-radius: 50px;
  text-align: center;
  width: 200px;
  border: none;
  text-align: center;
  height: 40px;
}

table {
  margin: auto;
}

form {
  text-align: center;
}
